*       text=auto
/build  text eol=lf
*.dart  text eol=lf
*.java  text eol=lf
*.kt    text eol=lf
*.swift text eol=lf
*.m     text eol=lf
*.h     text eol=lf
*.sh    text eol=lf
*.ps1   text eol=lf
*.bat   text eol=crlf
*.plist text eof=lf
*.patch text eof=lf
*.yaml  text eof=lf
